
body, html{
    margin: 0px;
    padding: 0px;
}

.cabecalho {
    background-color: rgb(71, 71, 71);
    padding: 20px;
}

main {
    padding: 20px 20px 20px 30px;
}

.cabecalho_menu > a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

.cabecalho_menu > a:hover {
    color: gray;
}